.Rproj.user
.Rhistory
.RData
.Ruserdata
# Ignore .DS_Store files (macOS system files)
.DS_Store

# Ignore specific file in shinyapps.io folder
App/rsconnect/shinyapps.io/biancaschutz/WWC2019.dcf

.gitignore

App/.DS_Store

App/rsconnect/shinyapps.io/biancaschutz/WWC2019.dcf